<footer class="py-5">
    <p class="text-center">&copy;Unchained Trades a Trading Website 2023</p>
    <p class="text-center">
    <a class="nav-link" href="/about">About</a>
    <a class="nav-link" href="/">Contact Us</a></p>
    <a href="https://www.facebook.com/" class="fa fa-facebook icons"></a>
    <a href="https://twitter.com/?lang=en" class="fa fa-twitter icons"></a>
  </footer>