<!DOCTYPE html>
<html>
  <head>
    <title>Trading Website</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type = "text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <%- include('./partials/header.ejs')%>

    <main class="container my-5">
      <section id="about">
            <h1 class="text-center">Welcome to Unchained Games Trade!</h1>
            <h2 class="text-center">About Our Service</h2>
            <p>Our business runs a marketplace where used video games may be bought and sold. Our mission is to give gamers a simple and practical platform for exchanging their used games. </p>
            <p>Since trust is crucial when it comes to making purchases and sales, we work hard to provide our users with a safe and dependable environment. Our marketplace is made to connect players wishing to buy or sell secondhand games and make the transaction process simple.</p>
            <p>You can easily find the video games you're seeking for with our large selection and user-friendly interface, and you can feel secure when making purchases. We can help, whether you're seeking for a vintage book or want to sell something you recently bought.</p>
            <p>Join us now and start taking advantage of our platform's resources to enhance your gaming collection and experience.</p>
            <br>
            <img src="/images/Logo.jpg" alt="logo" >
        </section>
    </main>

    <%- include('./partials/footer.ejs')%>
  </body>
</html>
