<!DOCTYPE html>

<html>
  <head>
    <title>Trading Website</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type = "text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <%- include('./partials/header.ejs')%>

    <main class="container my-5">
      <section id="about">
            <h1 class="text-center">Welcome to Unchained Games Trade!</h1>
            <h2 class="text-center">About Our Service</h2>
            <p>Our company operates a marketplace for the buying and selling of used video games. Our goal is to provide gamers with a convenient and easy-to-use platform for trading their pre-owned titles. </p>
            <p>We understand the importance of trust when it comes to making purchases and sales, so we strive to create a secure and dependable environment for our users. Our platform is designed to bring together gamers looking to buy or sell used games, and simplify the transaction process. </p>
            <p>Our extensive collection of video games and user-friendly interface make it simple for you to discover the games you're looking for and feel confident when completing transactions. Whether you're searching for a classic title or looking to sell your recent acquisitions, we've got you covered.</p>
            <p>Join us now and start taking advantage of our platform's resources to enhance your gaming collection and experience.</p>
        </section>
      <section id="contact">
            <h2 class="text-center">Contact Us</h2>
            <p class="text-center">Get in touch with us for any questions or concerns.</p>
            <div class="row">
            <div class="col-md-4">
                <p><strong>Address:</strong><br> 123 Sample Main St<br> Sample City, USA 12345</p>
            </div>
            <div class="col-md-4">
                <p><strong>Email:</strong><br> sample_mail@example.com</p>
            </div>
            <div class="col-md-4">
                <p><strong>Phone:</strong><br> (123) 456-7890</p>
            </div>
            </div>
      </section>
    </main>

    <%- include('./partials/footer.ejs')%>
  </body>
</html>
