<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Trading Website</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <%- include('../partials/header.ejs')%>
    <main class="container my-5">
         <form action = '/tradeRoutes' method = 'POST'>
        <label for="category">Category</label>
        <select name="category" id="category">
            <option value="PS4 Games">PS4 Games</option>
            <option value="PS5 Games">PS5 Games</option>
          </select>
           <br/><br/>
           
           <label for="title">Title:</label>
           <input type="text" id="title" name="title" placeholder="Title of the game" required>
           <br/>
           <label for="director">Directed by:</label>
           <input type="text" id="director" name="director" placeholder="director" required>
           <br/>
           <% let fullName = firstName + ' ' + lastName; %>
           <% fullName = fullName.toLowerCase(); %>
           <label for="host">Host by:</label>
           <input type="text" id="host" name="host_name"  value="<%= fullName %>" readonly>
           <br/>
           <label for="host">Status:</label>
           <input type="text" id="status" name="status"  value="Available" readonly>
           <br/>
           <label for="details">Details:</label>
           <input type="textarea" id="details" name="details" placeholder="Say about the game">
           <br/>
           <label for="sdate">Start Date: </label>
           <input type="text" id="sdate" name="start_date" placeholder="Ener in (mm/dd/yyyy) format"  required>
           <br/><br/>
           <label for="image">Image:</label>
        <input type="text" id="image" name="image" placeholder="Image URL" required>
        <br/><br/>
          <br/><br/>
        <input type="submit" value="Submit"> <input type="reset">
    
        </form>
    
    </div>
    </main>
    <%- include('../partials/footer.ejs')%>
  </body>
</html>
